<section class="approge">
  <div class="approge__top">
    <div class="container grid">
      <div class="approge__left">
        <h2 class="approge__title">A human–centered definition of success.</h2>
        <p class="approge__descr">
          Our approach is shaped by the perspective and experience of people impacted by the justice system. Together,
          we are focused on restoring equity and supporting success in the community.
        </p>
        <button class="btn-reset btn approge__btn">Our approach</button>
      </div>
      <div class="approge__right">
        <img src="img/approge/approge-1.jpg" alt="people" loading="lazy" width="235" height="266"
          class="approge__image">
        <img src="img/approge/approge-2.jpg" alt="people" loading="lazy" width="317" height="262"
          class="approge__image">
      </div>
    </div>
  </div>
  <div class="approge__bottom">
    <div class="container">
      <ul class="list-reset approge__list grid">
        <li class="approge__item">
          <a href="#" class="approge__link approge__link--ted">
            TED Talks
          </a>
        </li>
        <li class="approge__item">
          <a href="#" class="approge__link approge__link--nyt">
            The New York Times
          </a>
        </li>
        <li class="approge__item">
          <a href="#" class="approge__link approge__link--state">
            StateScoop
          </a>
        </li>
        <li class="approge__item">
          <a href="#" class="approge__link approge__link--press">
            Associated Press
          </a>
        </li>
        <li class="approge__item">
          <a href="#" class="approge__link approge__link--time">
            Time
          </a>
        </li>
        <li class="approge__item">
          <a href="#" class="approge__link approge__link--free">
            Freethink
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>